body {

}

/*----Navbar----*/
#DDMenu-SM-XS::after {
	display: none;
}

nav a.btn {
	background-color: #545b62;
	border: none;
}

.navbar {
	background-color: #323f63;
	width: 100%;
	z-index: 2
}

nav .active {
	color: white;
}

.nav-item {
	color:#a5d8ff;
	transition: 200ms color;
}

.nav-item:hover {
	color:white;
}

#my-menu-button {
	min-width: 80px;
}

#mobile-nav a.dropdown-toggle {
	width:100%;
}

#my-menu-button h6 {
	width: 60px;
	border: 3px solid #a5d8ff;
	border-radius: 12px
}

a#DDMenu-SM-XS {
	height: 3em;
}

nav .dropdown {
	position: absolute;
	right:0px;
}

#mobile-nav > div {
	width:100%;
}

#mobile-nav > div a {
	color: #4062bf;
}

#mobile-nav > div a:hover, #mobile-nav > div a:active {
	color: #a5d8ff;
}


/*----Body----*/


.jumbotron-fluid {
	padding: 32px 32px;
}

.jumbotron img {
	opacity: 0.8;
	margin-top: -8em;
	filter: blur(6px);
}

.jumbotron h1 {
	position: relative;
	text-align: center;
	z-index: 1;
	color: white;
	font-size: 6em;
	text-shadow: 5px 5px 2px gray;
	top: 4em;
}

div.title {
	font-weight: bold;
	font-size: 300%;
}

div.article {
	font-size: 125%;
	margin-bottom: 32px;
}

div.row {
	margin-top: 2em;
	margin-bottom: 2em;
}

.sticky-top {
	height: 20%;
	top: 5.5em;
	overflow: visible;
}

.sticky-top .nav-item {
	color: #323f63;
	font-size: 1.2em;
	font-weight: 600;
}

.sticky-top hr {
	border-top: 2px solid #99c8ef
}

article ol {
	list-style-type: upper-roman;
}



/*----Footer----*/

.footer {
	position: relative;
	width: 100%;
	background: #323f63;
	height: 4em;;
	bottom: 0px;
}


#references {
	position: relative;
	color: #a5d8ff;
	justify-content: center;
}


#translate-menu > div {
	display: inline-block;
	float:right;

}
#translator {
	position: relative;
	display: inline-block;
	right: 0.5em;
}

#translate-menu {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: absolute;
	display: inline-block;
	right: 0px;
}




/*----Media Queries----*/

/*----XS----*/

@media (max-width: 575.99px) {
	
	.jumbotron h1 {
		top: 1em;
		font-size: 3em;

	}


	#my-menu-button h6 {
		border: 2px solid #a5d8ff;
		border-radius: 10px;
		width:40px;
	}

	.jumbotron img {
		filter: blur(2px);
	}
	
	div.title, article h1 {
		font-size:200%
	}
	
	div.article, article p {
		font-size: 90%
	}

	nav.navbar {
		padding:0;
	}

	#mobile-nav a.dropdown-toggle {
		padding: 1em 1em 0 1em;
	}

	#mobile-dropdown {
		width: 100%;
		background-color: #323f63;
	}

	#mobile-dropdown #collapsible-sidebar-items a {
		text-align: center;
	}

	#CSBhr {
		border-top: 0.5px solid white;
	}

	#collapsible-sidebar-toggle > a {
		position: relative;
		right: 50%;
		left: 50%;
		color: #a5d8ff;
	}

	#collapsible-sidebar-toggle {
		cursor: pointer;
		height: 2em;
	}


}


/*----SM----*/


@media (min-width: 576px) and (max-width: 767.98px) {
	
	.jumbotron h1 {
		top: 3em;
		font-size: 3em;
		
	}

	.jumbotron img {
		margin-top: -4em;
		filter: blur(4px);
	}

	div.title, article h1 {
		font-size:200%
	}
	div.article, article p {
		font-size: 90%
	}

	nav.navbar {
		padding:0;
	}

	#mobile-nav a.dropdown-toggle {
		padding: 1em 1em 0 1em;
	}

	
	#mobile-dropdown {
		width: 100%;
		background-color: #323f63;
	}

	#mobile-dropdown #collapsible-sidebar-items a {
		text-align: center;
	}

	#CSBhr {
		border-top: 0.5px solid white;
	}

	#collapsible-sidebar-toggle > a {
		position: relative;
		right: 50%;
		left: 50%;
		color: #a5d8ff;
	}

	#collapsible-sidebar-toggle {
		cursor: pointer;
		height: 2em;
	}

	#my-menu-button h6 {
		border: 2px solid #a5d8ff;
		border-radius: 10px;
		width:40px;
	}



}





/*----MD----*/

@media (min-width: 768px) and (max-width: 991.99px) {
	
	.jumbotron h1 {
		font-size: 4em;
		top: 3em;
	}

	.jumbotron img {
		margin-top: -6em;
	}

	div.article, article p {
		font-size: 100%
	}
	div.title, article h1 {
		font-size: 250%;
	}


}

/*----LG+----*/


@media (min-width: 992px) {

	.jumbotron h1 {
		top: 3em;
	}


}




